<!DOCTYPE html>
<html>
    <%-include('./partials/head.ejs')%>
    <body>
        <div class="container">
            <div class="login-container">
                <h3 class="welcome-message">Welcome</h3>
                <a href="/register"><button class="login-button" type="submit" >Register</button></a>
                <a href="/login"><button class="login-button" type="submit" >Sign In</button></a>
        </div>
    </body>
</html>